<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input[type="submit"] {
            background-color: blue;
            color: white;
        }

        input[name="id"] {
            background: yellow;
        }
    </style>
</head>

<body>
    <h1>Css02</h1>
    <form>
        ID<input type="text" name="id"><br>
        PW<input type="password" name="pwd"><br>
        <input type="submit" value="LOGIN">
    </form>
</body>

</html>