<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        ID<input type="text" name="id">
        <button>중복체크</button><br>
        Pw<input type="text" name="pw">
        <button>중복체크</button><br>
        GENDER<br>
        <input type="radio" name="gender" value="m">Male<br>
        <input type="radio" name="gender" value="f">Female<br>
        Birthday <input type="date" name="birthday"><br>
        Age <input type="number" name="age"><br>
        hobby
        book<input type="checkbox" name="hobby">
        song<input type="checkbox" name="hobby">
        walk<input type="checkbox" name="hobby"><br>
        Cars
        <select name="cars">
            <option value="h">H</option>
            <option value="h">B</option>
            <option value="h">V</option>
        </select><br>
        <span>selfspeak</span><br>
        <textarea name="" id="" cols="30" rows="30"></textarea><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>